<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="https://worldpadeltour.com/">WPT</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
            <a class="nav-link active" aria-current="page" href="/about"
              >About</a
            >
            <a class="nav-link active" aria-current="page" href="/works"
              >Tournaments</a
            >
            <a class="nav-link active" aria-current="page" href="/gallery"
              >Video Gallery</a
            >
          </div>
        </div>
      </div>
    </nav>
    <div id="about-container">
      <h1>About</h1>
      <p>
        Agustín Tapia (San Fernando del Valle de Catamarca, 24 de julio de 1999)
        es un jugador de pádel profesional argentino, que en la actualidad ocupa
        la 2.ª posición en el ranking World Padel Tour. Juega en la posición del
        revés y forma pareja deportiva con Arturo Coello, juntos son actualmente
        la mejor pareja del mundo. Agustín Tapia es conocido como "El
        Cosmonauta" por la forma de mantenerse en el aire para terminar los
        puntos cerca de la red y como el "Mozart de Catamarca" por ser un
        personaje ilustre en su lugar natal. <br />
        <br />
        Agustín Tapia comenzó su carrera en el World Padel Tour en 2018,
        comenzando con Marcello Jardim como pareja deportiva. En el Catalunya
        Master, disputado en marzo de ese año, ya comenzó a destacar, llegando
        ambos hasta los cuartos de final. A mitad de la temporada 2019, Fernando
        Belasteguín se convirtió en su nueva pareja deportiva. Juntos lograron
        el Madrid Master en septiembre de 2019, convirtiéndose en el primer
        título de Tapia, y con sólo 20 años de edad. También llegaron a la final
        del Master Final, donde cayeron frente a Alejandro Galán y Pablo Lima.
        <br />
        <br />
        En 2020 continuaron juntos. Durante la temporada regular, afectada por
        la pandemia COVID-19, pudieron ganar "únicamente" el Sardegna Open en
        septiembre. Justo antes de debutar en cuartos del Master Final en
        Menorca, Bela y Tapia anunciaron en un emotivo vídeo que no continuarían
        como pareja para la temporada siguiente, por lo que ese era su último
        torneo juntos. Felizmente para ambos, lograron vencer en la final a la
        pareja 1, Lebrón y Galán, por 6-3 y 7-6 en un partido memorable que
        culminó con un tie-break de 24 puntos, para convertirse así en el
        "maestro" más joven con 21 años. En 2021, Pablo Lima se convirtió en su
        nueva pareja deportiva y, pese a que lograron alzarse con el título en
        Las Rozas Open y en el Málaga Open, en septiembre de 2021 decidieron
        separarse como pareja tras disputar el Open de Lugo. Pocos días después
        se confirmó que Sanyo Gutiérrez sería su nueva pareja para lo que
        restaba de temporada. Juntos consiguieron un torneo antes de acabar el
        año, el Open de Malmö, tras vencer en la final a la pareja 2, Paquito
        Navarro y Martín Di Nenno, por 7-5 y 6-0. <br />
        <br />
        En 2022 Tapia siguió jugando junto a Sanyo durante todo el año. Su
        primera mitad de temporada fue muy buena; lograron llegar mínimo a
        semifinales durante los primeros 13 torneos (hasta septiembre) y ganar 5
        de ellos, lo que les permitió colocarse como la segunda mejor pareja del
        mundo y acercarse notoriamente a los número 1 Lebrón y Galán en el
        ranking. Sin embargo, no pudieron mantener el nivel de juego durante los
        últimos meses de competición; tan sólo pasaron de cuartos de final en 2
        de los últimos 9 torneos del año de WPT. Finalmente terminaron como
        pareja 2 de ranking con más de 10.000 puntos cada uno, y tras el Master
        Final de Barcelona anunciaron oficialmente su separación. Antes de
        finalizar el año, confirmando los rumores de las últimas semanas, Tapia
        comunicó que su nueva pareja para 2023 sería el aún más joven Arturo
        Coello. Esta unión generó cierto impacto en los seguidores del pádel,
        pues muchos de ellos consideraban que esta joven dupla tenía el
        potencial suficiente como para conseguir el número 1 del ranking y
        romper así la hegemonía de 3 años de Juan Lebrón y Alejandro Galán en el
        pádel mundial. <br />
        <br />
        En 2023, Tapia y Coello iniciaron el año de la mejor manera posible,
        venciendo en la final de Abu Dhabi Master precisamente a Lebrón y Galán
        por 7-6 y 6-3, dejando claro que son capaces de pelear el número 1 del
        ranking este año. También en 2023 han ganado el torneo de La Rioja Open
        en Argentina, donde por la cercanía con su Catamarca natal hizo que
        Tapia fuera local durante toda la competición. En la final vencieron sin
        atenuantes a unos jóvenes Libaak y Augsburguer por 6-1 y 6-0. Para
        seguir con el buen rendimiento, en la tercera cita de World Padel Tour
        de 2023, en el Chile Open, Tapia volvió a coronarse campeón junto a
        Coello, superando nuevamente en la final a Lebrón y Galán por 6-4, 6-7 y
        7-5, en un partido marcado por la polémica arbitral en el segundo set.
      </p>
    </div>
  </body>
</html>
