<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="public/stylesheets/style.css" />
  </head>
  <body>
    <h1>Agustín Tapia</h1>

    <h2>Biografy</h2>

    <p>
      Agustín Tapia (San Fernando del Valle de Catamarca, 24 de julio de 1999)
      es un jugador de pádel profesional argentino, que en la actualidad ocupa
      la 2.ª posición en el ranking World Padel Tour. Juega en la posición del
      revés y forma pareja deportiva con Arturo Coello, juntos son actualmente
      la mejor pareja del mundo. Agustín Tapia es conocido como "El Cosmonauta"
      por la forma de mantenerse en el aire para terminar los puntos cerca de la
      red y como el "Mozart de Catamarca" por ser un personaje ilustre en su
      lugar natal.
    </p>
  </body>
</html>
