<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="public/stylesheets/style.css" />
  </head>
  <body>
    <h1>Agustín Tapia Tournaments</h1>

    <h4>In green the tournaments won by Tapia:</h4>

    <ul>
        <li>Cervezas Victoria Marbella Master 2023 (Master)</li>
        <li>Boss Vienna Padel Open 2023</li>
        <li>Estrella Damm Vigo Open 2023</li>
        <li>Circus Brussels Padel Open 2023</li>
        <li>Cervezas Victoria Granada Open 2023</li>
        <li>Paraguay Padel Open 2023</li>
        <li>BTG Pactual Chile Padel Open 2023</li>
        <li>La Rioja Open 2023</li>
    </ul>

  </body>
</html>